
@{
//ViewData["Title"] = "_LoginPartial";
//Layout = null;
}

@*<h1>_LoginPartial</h1>
<div>需要先进行登录</div>

<div>
    <button onclick="/Index/Index" class="btn btn-outline-secondary" value="返回主页"></button>
    <button onclick="/Account/Login" class="btn btn-outline-secondary" value="前去登录"></button>
</div>*@

