body {
}
.blogtitle {
    margin: 0 0 10px 0;
    font-size: 18px;
    overflow: hidden;
}
.whitebg {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}



